.parsley-errors-list {
    margin-bottom: 0 !important;
    padding-left: 0;
}

.parsley-errors-list li {
    color: #e7515a;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0.5rem 0 0 0 !important;
    list-style: none;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #ff0000;
    background-color: #fff;
    border: 1px solid #ff0000;
}


input.parsley-error::placeholder,
select.parsley-error::placeholder,
textarea.parsley-error::placeholder {
    color: #ff0000;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #fff;
    border: 1px solid #468847;
}


.h-100 {
    height: 100% !important;
}

#editor-moTa {
    min-height: 300px;
}


.custom-file-container__image-multi-preview {
    width: 200px;
    height: 100%;
}

.error-login-cms {
    margin: 10px 0 0 0;
    padding: 0;
}

.error-login-cms li {
    list-style: none;
    color: #ff0000;
}

.dt--top-section {
    display: none;
}

.hidden-search>div>div>div>.dt--top-section {
    display: block !important;
}

#zero-config_wrapper {
    padding: 0;
}

.select-filter>.dropdown-toggle {
    display: block;
    width: 100%;
    height: 45.4px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: none;
}

.select-filter>.dropdown-toggle:hover,
.select-filter>.dropdown-toggle:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ced4da;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transform: none;
    transform: none;
    outline: none !important;
    outline-offset: 0;
}

.filter-option-inner {
    height: 100%;
    display: flex;
    align-items: center;
}

.dropdown-menu>.inner.show {
    display: none;
}

.dropdown-menu.show>.inner.show {
    display: block;
}

#ngay_bat_dau,
#ngay_ket_thuc {
    background-color: #fff !important;
    color: #495057;
}

.error-date {
    color: #ff0000 !important;
    background-color: #fff !important;
    border: 1px solid #ff0000 !important;
}

#parsley-date-bat-dau,
#parsley-date-ket-thuc {
    display: none;
}

.error-date~#parsley-date-bat-dau,
.error-date~#parsley-date-ket-thuc {
    display: block;
}

.wrap-calendar {
    position: relative;
}

.icon-calendar {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.parsley-error~.icon-calendar {
    top: 33% !important;
}

.error-date~.icon-calendar {
    top: 26% !important;
}

.button-custom {
    float: right;
}

.required {
    color: #e7515a;
    font-weight: 900;
}


.input-group-custom {
    display: flex;
}

.input-group-custom .div-input-custom {
    width: 80%;
}

.input-group-custom .input-group-append {
    width: 20%;
}

a.dropdown-item {
    cursor: pointer;
}

.custom-input-w-30 {
    width: 30% !important;
}

.custom-input-w-40 {
    width: 40% !important;
}

.forgot-pass-link {
    color: #007bff !important;
}

.forgot-pass-link:hover {
    text-decoration: underline;
}

.hidden-input {
    display: none;
}

.widget-content {
    margin-top: 0.5rem !important;
}

.modal-footer {
    margin-top: 2.5em
}

.header-container .navbar-nav .theme-text {
    align-self: center;
    width: auto !important;
}

#sidebar ul.menu-categories li.menu>.dropdown-toggle i {
    font-size: 21px;
    color: #949ab1;
    margin-right: 18px;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    transition: all .2s ease-in-out;
}

#sidebar ul.menu-categories li.menu>.dropdown-toggle[aria-expanded="true"] i {
    color: #fff;
}

.nav-link {
    position: relative;
}

.icon-remove-tab {
    position: absolute;
    top: -10px;
    left: 80px
}

.icon-remove-tab {
    width: 20px;
    position: absolute;
    top: 3px;
    left: 80px;
    font-size: 14px;
    text-align: center;
    color: #f2f2f2;
}

.icon-remove-tab:hover {
    color: #e2a03f;
}

.switch.s-outline[class*="s-outline-"] .slider:before {
    background-color: #6c7580 !important;
}

.switch.s-outline-success input:checked+.slider:before {
    border: 2px solid #1abc9c;
    background-color: #1abc9c !important;
    box-shadow: 0 1px 15px 1px rgb(52 40 104 / 34%);
}

.select-all-action-thumb {
    width: 15em;
}

.select2-container {
    margin-bottom: 0 !important;
}

.dataTables_filter {
    display: none;
}

.filtered-list-search {
    display: flex;
    justify-content: space-between;
}

.title-list {
    display: flex;
}

.title-list h1,
h2,
h3 {
    color: #969dcc;
    font-weight: 800;
}

.filtered-list-search {
    margin-top: 0;
    margin-bottom: 2em;
}

.div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: center;
    flex-wrap: wrap;
}


.d-inline {
    display: inline;
}

.table-cancel:hover {
    color: #4658ff;
}

.btn-status-badge {
    width: 120px !important;
}

div.dataTables_wrapper div.dataTables_info {
    border: none !important;
}

.table-custom-text td {
    width: 40px;
    white-space: normal !important;
    vertical-align: top !important;
}

.widget-content-area {
    padding: 20px !important;
}

.btn.disabled,
.btn.btn[disabled]:hover {
    background-color: #007bff !important;

}